@model CoolMVCApp.Models.EmployeeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Employee Search</h1>

@using (Html.BeginForm("index", "Employee", FormMethod.Get))
{
    <div class="row">

        <div class="form-horizontal">
            <div class="col-lg-3">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Employee Name" })
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(m => m.Branch, new { @class = "form-control", @placeholder = "Employee Branch" })
            </div>

            <div class="col-lg-3">
                @Html.TextBoxFor(m => m.Deptt, new { @class = "form-control", @placeholder = "Employee Department" })
            </div>

            
            <div class="col-lg-3">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-search"></span>
                </button>

                <a class="btn btn-success pull-right" data-modal="" href="/Employee/Create" id="btnCreate">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>

    <div style="margin-top:17px;">
        @{
            var grid = new WebGrid(
                                canPage: true,
                                rowsPerPage: Model.PageSize,
                                canSort: true,
                                ajaxUpdateContainerId: "grid");

            grid.Bind(Model.employees, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);

            @grid.GetHtml(htmlAttributes: new { id = "grid" },
        fillEmptyRows: false,
        tableStyle: "table table-bordered table-hover",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
              grid.Column("Id", "Id"),
              grid.Column("Name", "Name", style: "col-lg-2"),
              grid.Column("Branch","Branch",style:"col-lg-3"),
               grid.Column("Deptt", "Department", style: "col-lg-3"),

              grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                @Html.Raw("<a data-modal='' href='/products/details/" + item.Id + "' id='" + item.Id + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/products/edit/" + item.Id + "' id='" + item.Id + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/products/delete/" + item.Id + "' id='" + item.Id + "' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                </text>)
        ));
        }
    </div>
            }
